a{
    box-shadow: none;
}
  .BG {
    display: flex;
    align-items: center;
    width: 120%;
    height: 20vw;
    left: -10%;
    top: 0;
    z-index: -100;
    position: fixed;
    background-color: rgb(117,178,237);
  }
  .BG:before, .BG:after {
    flex: 1;
    bottom: 0;
    height: 70%;
    border-radius: 50%;
    background: rgb(117,178,237);
    content: "";
    margin-top: 20vw;
  }
  .BG:after {	
    background-color:#fafafa;
  }

  .detailPost{
    white-space: pre-line;
  }

  .detailPost img{
    max-width: 70% !important;
    margin-left: 15%;
    margin-right: 15%;
  }

  .detailPost p {
    flex: 1;
  }